* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;

}

a{
    text-decoration: none;    
}
#nav img{
    height: 65px;
}
#nav{
    height: 12vh;
    width: 100vw;
    padding: 10px 0px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
#nav-img{
    display: flex;
    gap: 20px;
    margin-left: 40px;
}
#nav-text{
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-right: 40px;
}
#nav h4{
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 15px;
}
#background img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.550);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page1 h4{
    font-size: 40px;
    font-weight: 600;
    /* filter: drop-shadow(2px 6px 4px #000000); */
}
#page1 h4::before{
    content: "Graphic Era Hill University Presents...";
    position: absolute;
    color: black;
    filter: drop-shadow(2px 6px 10px #000000);
    z-index: -1;
}
#page1 h1{
    font-size: 120px;
    font-weight: bold;
    position: relative;
    /* -webkit-text-stroke: 3px red; */
    /* filter: drop-shadow(2px 6px 10px #000000); */
}
#page1 h1::before{
    content: "UMANG";
    position: absolute;
    color: black;
    top: -4px;
    left: -4px;
    -webkit-text-stroke: 2px #95C11E;
    filter: drop-shadow(2px 6px 10px #000000);
    z-index: -1;
}
#page2{
    height: 100vh;
    width: 100%;
}
#effect{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 999;
}
#cards-container{
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
    
}
.card{
    height: 80%;
    width: 25%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.5s;
    box-shadow: 5px 5px 30px 2px black;
}
a{
    text-decoration: none;    
}
#card1{
    background-image: url(./images/outdoor1.png);   
}
#card2{
    background-image: url(./images/Esports.png);   
}
#card3{
    background-image: url(./images/indoor2.png);   
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.700);
    box-sizing: border-box;
    text-wrap: nowrap;
    opacity: 0;
    transition: all ease 0.5s;
}
#esport{
    padding: 50% 125px;
}
#outdoor{
    padding: 50% 55px;
}
#indoor{
    padding: 50% 70px;
}

.overlay h4{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: scale(1.05);
}
/* page 3 */
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
}